<div class="container-fluid">
    <div class="container">
        <footer class="py-5">
            <div class="row row-cols-xl-3 row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-xs-1 gridTop">

                <ul class="nav flex-column mb-3">
                    <li class="nav-item"><a routerLink="/" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item"><a routerLink="/gallery" class="nav-link p-0 text-muted">Gallery</a></li>
                    <li class="nav-item"><a routerLink="/awards" class="nav-link p-0 text-muted">My Awards</a></li>
                    <li class="nav-item"><a routerLink="/about" class="nav-link p-0 text-muted">About me</a></li>
                    <li class="nav-item"><a routerLink="/contact" class="nav-link p-0 text-muted">Contact</a></li>
                    <li class="nav-item"><a routerLink="/testimonials" class="nav-link p-0 text-muted">Testimonials</a></li>
                </ul>


                <form class="frmSub">
                    <h5>Subscribe to our newsletter</h5>
                    <p>Monthly digest of what's new and exciting from us.</p>
                    <div class="d-flex flex-column flex-sm-row w-100">
                        <label for="newsletter1" class="visually-hidden">Email address</label>
                        <input id="newsletter1" type="text" class="form-control inputTxt" placeholder="Email address">
                        <button class="btn btn-outline-warning" type="button">Subscribe</button>
                    </div>
                </form>

                <!-- Embed a Map to Website -->
                <!-- <ul class=""> -->
                <div class="mapouter">
                    <div class="google-maps">
                        <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=wien%201010&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        <!-- <p>Strasse Hausnummer 123</p><br> -->
                        <style>
                            .mapouter {
                                position: relative;
                                text-align: right;
                                height: 100%;
                                width: auto;
                            }
                        </style>
                        <!-- <p>1010 Musterstadt</p> -->
                        <style>
                            .gmap_canvas {
                                overflow: hidden;
                                background: none !important;
                                height: 10rem;
                                width: 10rem;
                            }
                        </style>
                    </div>
                </div>
                <!-- </ul> -->
                <!-- End Embed -->
            </div>
            <hr>
            <div class="row row-cols-lg-1 row-cols-md-1 row-cols-sm-1 row-cols-xs-1 py-4 footerBot">
                <div class="pragraph">
                    <p>&copy; 2023 Photographer’s webpage</p>
                    <p>Inc. All rights reserved.</p>
                </div>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3"><i class="bi bi-twitter"></i></li>
                    <li class="ms-3"><i class="bi bi-instagram"></i></li>
                    <li class="ms-3"><i class="bi bi-facebook"></i></li>
                    <li class="ms-3"><i class="bi bi-pinterest"></i></li>
                    <li class="ms-3"><i class="bi bi-youtube"></i></li>
                </ul>
            </div>
        </footer>
    </div>
</div>