<section class="about">
    <div class="main row">
        <div class="about-img col-lg-6 text-center my-3">
            <img src="https://cdn.pixabay.com/photo/2018/03/01/14/57/woman-3190852_960_720.jpg" alt="" srcset="">
        </div>
        <div class="about-text col-lg-6">
            <h1>About me</h1>
            <h5>Photographer</h5>
            <p>
                I'm a photographer with a passion for capturing the beauty of life through my camera lens. From the
                simple moments of everyday life to the grand adventures that we embark upon, I believe that there is
                something truly special in every moment that deserves to be captured and remembered forever.
            </p>
            Growing up in a small town in Mexico, I was constantly inspired by the vibrant colors and textures
            of the world around me. As I began to explore my love of photography, I discovered that I had a
            natural talent for capturing the essence of people and places in a way that was both authentic and
            beautiful.
            <p>
                Today, I am proud to call myself a professional photographer with years of experience capturing
                special moments for my clients. Whether it's a wedding, a family portrait session, or a special
                event, I am always dedicated to working closely with my clients to create a truly unique and
                unforgettable experience.
            </p>
            <p>
                So whether you're looking for a photographer to capture the joy and excitement of your wedding day,
                or simply looking to capture the beauty of your everyday life, I am here to help. Thank you for
                visiting my page, and I look forward to working with you to create something truly special! 
            </p>
            <div class="text-center my-5">
                <button type="button" routerLink="/gallery">Take a look</button>
            </div>


        </div>
    </div>
</section>