<!-- intro to pricing -->
<div id="intro-awards-pricing" class="parallax-awards">
    <div class="inner-hero-awards">
        <h2 class="heading-intro-awards">Pricing</h2>
    </div>
</div>

<!-- pricing -->
<div id="pricing-section" class="text-center">
    <h2>Pricing</h2>
    <p>Contact me for individual or special offer.</p>
    <div class="row">
        <div class="pricing-col col-lg-4 col-md-6 card-deck text-center my-3">
          <div class="card box-shadow border-dark">
            <div class="card-header pt-3">
              <h3>First Talk</h3>
            </div>
            <div class="card-body p-5">
                <h3>Free</h3>
                <p>20 Minutes to talk about what you want or how i can help you. I show you my equipment and more sample shoots. Additionally i take one photo of you for free. </p>
                <button class="btn btn-lg btn-block btn-outline-dark w-75" routerLink="/contact">Contact me</button>
            </div>
          </div>
        </div>
          <div class="pricing-col col-lg-4 col-md-6 card-deck text-center my-3">
            <div class="card box-shadow border-dark">
              <div class="card-header pt-3">
                <h3>Basic</h3>
              </div>
              <div class="card-body p-5">
                  <h3>$129 / hour</h3>
                  <p>Limited Photos</p>
                  <p>Limited Equipment</p>
                  <p>Limited On-Call-Service</p>
                  <button class="btn btn-lg btn-block btn-dark w-75" routerLink="/contact">Contact me</button>
              </div>
            </div>
          </div>
    
          <div class="pricing-col col-lg-4 col-md-12 card-deck text-center my-3">
            <div class="card box-shadow border-dark">
              <div class="card-header pt-3">
                <h3>Premium</h3>
              </div>
              <div class="card-body p-5">
                  <h3>$249 / hour</h3>
                  <p>Unlimited Photos</p>
                  <p>Unlimited Equipment</p>
                  <p>Unlimited On-Call-Service</p>
                  <p>Everytime, everywhere</p>
                  <button class="btn btn-lg btn-block btn-dark w-75" routerLink="/contact">Contact me</button>
              </div>
            </div>
          </div>
        </div>
</div>
