@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Staatliches&display=swap');

$main-color: #FDEEDC; // cream-white
$second-color: #FFD8A9; // ligth-orange
$third-color: #F1A661; // middle-orange
$fourth-color: #E38B29; // dark-orange



* {
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Staatliches', cursive;
}
  
  .testimonials{
    text-align: center;
    margin: 20px;
    color: $fourth-color;
  }
  
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
body{
    background-color: #FDEEDC; 
    position: relative;
    margin:20px 30px ;
}
.container{
    max-width: 800px;
    background-color: white;
    padding: 0;
    height: 600px;
    
}
.review{
    font-size: 30px;
    font-weight: 600;
    
    
}
.name{
    font-size: 18px;
    color: $third-color;
    margin: 0;
}
.job{
    color: #c8c8c8;
    font-size: 14px;
}
.carousel-inner{
    max-width: 800px;
}
.fa-minus {
    font-size: 14px;
}
.carousel-indicators {
    
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-100%);
    z-index: 1;
}

.carousel-indicators [data-bs-target ] {
    height: 10px;
    border: 2px solid black;
    width: 10px;
    background-color: inherit;
    border-radius: 50%;
    
}
.carousel-indicators .active{
    border: 2px solid transparent;
    background-color: $third-color;
}
.left{
    color: rgb(20, 20, 20);
    font-weight: 600;
}
.right{
    color: rgb(12, 12, 12);
    font-weight: 600;
}
.carousel-control-next, .carousel-control-prev {
    position: relative;

}
@media (max-width:560px) {
    .review{
        font-size: 14px;
        font-weight: 600;
    }
    .name{
        font-size: 13px;
    }
    .job{
        font-size: 10px;
    }
    .right{
        font-size: 12px;
    }
    .left{
        font-size: 12px;
    }
    .carousel-indicators [data-bs-target ] {
        height: 8px;
        border: 1px solid black;
        width: 8px;
        background-color: inherit;
        border-radius: 50%;
    }
    .carousel-indicators .active{
        border: 1px solid transparent;
        background-color:#E38B29;
    }
}



