<!-- intro to awards -->
<div id="intro-awards-pricing" class="parallax-awards">
    <div class="inner-hero-awards">
        <h2 class="heading-intro-awards">Awards</h2>
    </div>
</div>

<!-- awards -->
<div id="awards-section">
    <h2 class="text-center">My awards and qualification</h2>
    <section id="features">
        <div class="row">
    
            <div class="feature-box col-lg-4 col-md-6 col-12">
                <i class="feature-icon bi bi-trophy-fill"></i>
                <h3>Best Picture</h3>
                <p>Award picture for category wedding.</p>
            </div>
    
            <div class="feature-box col-lg-4 col-md-6 col-12">
                <i class="feature-icon bi bi-1-circle-fill"></i>
                <h3>Rank 1</h3>
                <p>Rank 1 in advanced photography in PHTZ.</p>
            </div>

            <div class="feature-box col-lg-4 col-md-6 col-12">
                <i class="feature-icon bi bi-flower1"></i>
                <h3>Nature</h3>
                <p>Price for best photoshoot in nature.</p>
            </div>

            <div class="feature-box col-lg-4 col-md-6 col-12">
                <i class="feature-icon bi bi-camera-reels-fill"></i>
                <h3>Short movie</h3>
                <p>Best in category short clip portrait.</p>
            </div>

            <div class="feature-box col-lg-4 col-md-6 col-12">
                <i class="feature-icon bi bi-award-fill"></i>
                <h3>Honor Medal</h3>
                <p>Most charitiable photos in country.</p>
            </div>

            <div class="feature-box col-lg-4 col-md-6 col-12">
                <i class="feature-icon bi bi-2-circle-fill"></i>
                <h3>rank 2</h3>
                <p>Rank 2 of category landscape in DGPh.</p>
            </div>
    
        </div>
    </section>
    
</div>

<!-- featured-in section -->
<div id="featured-in" class="text-center">
    <h2>Some of the companies i worked for</h2>
    <div class="slider">
        <div class="slide-track">
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
            </div>
        </div>
    </div>
</div>
