@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Staatliches&display=swap');

$main-color: #FDEEDC; // cream-white
$second-color: #FFD8A9; // ligth-orange
$third-color: #F1A661; // middle-orange
$fourth-color: #E38B29; // dark-orange

$section-padding: 7% 15%;

* {
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Staatliches', cursive;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

// hero section
.parallax {
    background-image: url("https://cdn.pixabay.com/photo/2016/06/01/20/30/roses-1429633_1280.jpg");
    min-height: 500px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.inner-hero {
    min-height: 500px;
    background-color: rgba(0, 0, 0, 0.25);
    color: $main-color;
}

// introduction section
#introduction-section {
    padding: $section-padding;
    background-color: $main-color;
    img {
        width: 40%;
        clip-path: circle();
    }
}

// portfolio section
#portfolio-section {
    padding: 7% 0;
    background-color: $second-color;
    img{
        height: 100%;
        filter: grayscale(0.7) brightness(80%);
        transition: 0.3s ease-in-out;
        border-radius: inherit;
        &:hover{
            filter: grayscale(0) brightness(100%);
        }
    }
}

.card {
    border: 2px;
}

// portfolio image description
.description {
    // background: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 5%;
    padding: 10px;
    h5 {
        color: $fourth-color;
        font-size: 3rem;
    }
}

// features section
#features-section {
    background-color: $main-color;
    padding: $section-padding;
    position: relative; 
}

.feature-box {
    padding: 5%;
    text-align: center;
}

.feature-icon {
    color: black;
    font-size: 4rem;
    margin-bottom: 1rem;
    &:hover {
        color: $fourth-color;
    }
}

// sample section
#sample-section {
    background-color: $second-color;
    padding: 7% 0;
    img{
        width: 60%;
        margin: 0 auto;
    }
    // change color of arrows
    .carousel-control-prev-icon {
        filter: invert(1);
    }

    .carousel-control-next-icon {
        filter: invert(1);
    }
}



// contact me section
#contact-section {
    background-color: $main-color;
    padding: $section-padding;
}
